@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Droid+Serif:400,400italic);
body {
    background-color: #ecf0e7;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #8ea7c2;
}